@media (max-width: 640px) {
            body {
                background-position: center !important;
            }
        }

@media (min-width: 641px) and (max-width: 1024px) {
            body {
                background-position: center -80px !important;
                height: 2000PX;
            }
        }

@media (min-width: 1025px) {
            body {
                background-position: center -200px !important;
            }
        }

/* Subrayado  para el menú de navegación */
.custom-underline {
  position: relative;
}
.custom-underline::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  height: 3px; 
  background: #4e268e; 
  bottom: -6px; 
  opacity: 0;
  transition: opacity 0.2s;
}
.custom-underline:hover::after {
  opacity: 1;
}